.RightSide{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
}

/* @media only screen and (max-width: 1070px){
    .RightSide {
        flex-direction: row;
    
    }

    .navIcons{
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .Discover {
        display: none;
    }

    .Chat {
        left: 0;
    }
} */

.navIcons {
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--cardColor);
    padding: 1rem;
}


.navIcons>img{
    width: 24px;
    height: 24px;
}

.navIcons>a>img{
    width: 24px;
    height: 24px;
}



.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

.dropdown>button {
    border:none;
    background: none;
}

.dropdown>button>img {
    width: 24px;
    height: 24px;
}

.dropdown>button>span {
    font-size: 8px;
    position: absolute;
    right: 9px;

}

.dropdown-item>a {
    text-decoration: none;
    color: black;
}