.Chat {
    width: 25rem;
    height: 500px;
    position: fixed;
    bottom: 0;
    right: 7px;
    background: linear-gradient(to left, #9fa5d5, #e8f5c8);
    border-radius: 8px;
    padding: 1rem;
}

.Chat_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Chat_Header>h3 {
    font-weight: bold;
}

.Chat_Header>img {
    background-color: var(--hrColor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.2rem;
    cursor: pointer;
}

.Chat_Header>img:hover {
    cursor: pointer;
    background: inherit;
}



.Chat_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Conversation {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    width: auto;
    gap: 0.5rem;
}

.Chat_Friend {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.Chat_Friend>h5 {
    word-wrap:break-word;
}

.Friend {
    position: relative;
}

.Online_Friend {
    width: 24px;
    position: absolute;
    top: -10%;
    left: 20%;
}

.Chat_Menu {
    justify-content: flex-end;
    display: flex;
    gap: 0.5rem;
}

.Chat_Menu>img {
    width: 24px;
    height: 24px;

}

.Chat_Area {
    background-color: rgba(255, 255, 255, 0.6);
    height: 330px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Blur {
    position: absolute;
    background: var(--chatBox);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    filter: blur(24px);
}

.Chat_Row {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 10px;
}

.Other_Msg {
    justify-content: start;
    justify-items: start;
}

.You_Msg {
    justify-content: end;
    justify-items: end;
}

.Show_Media {
    position: absolute;
    bottom: 58px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    place-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.Show_Media #File_Media {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
}

.Show_Media #File_Media img,
.Show_Media #File_Media video{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.Show_Media #File_Media span{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    background: white;
    border: 1px solid crimson;
    padding: 2px 6px;
    color: crimson;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.Chat_Content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.Content_Text {
    flex: 1
}

.Content_Text>input {
    resize:unset;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    width: 15rem;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 10px;
}


.Emoji_Chat {
    position: relative;
}

.Picker_Chat {
    position: absolute;
    bottom: 135%;
    right:-327%;
}

.Content_Media>input {
    display: none;
}


