.Notification {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    
}

.Notification>img:hover {
    cursor: none;
}

.Notify {
    background-color: var(--inputColor);
    padding: 8px;
    margin-bottom: 5px;
}

.Notify_Header {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.Notify_Link {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    flex: 1;
}

.Notify_Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notify_Content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 270px;
    padding-left: 0.5rem;
}

/* .Notify_Header {
    gap: 0.5rem;
} */

.NotRead {
    position: fixed;
    width: 8px;
    height: 8px;
    right: 0.7rem;
    margin-top: 2rem;
}

.Minimize {
    background: var(--hrColor);
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    right: 0.3rem;
    margin-top: 1.7rem;
    cursor: pointer;
}

.Minimize:hover {
    opacity: 1;
}

.Notify_Time {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    font-size: 10px;
    justify-content: space-between;
    max-width: 230px;
}

.Notify_Footer {
    font-size: 12px;
    margin-left: 0.5rem;
    justify-content: right;
}
