.Toast {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    border-radius: 8px;
    gap: 0.5rem;
    z-index: 1000;
    animation: slideInLeft ease .3s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.Header {
    display: flex;
    justify-content:space-between;
}

.Title {
    color: #fff;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
    border-radius: 0.5rem;
    transition: all 100ms ease-out;
}

.Button:hover {
    cursor: pointer;
}

.Body {
    color: #fff;
}