.UserFriend {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.UserFriend_Image {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
}

.UserFriend_Link {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.UserFriend_Center {
    color: black;
}