.Friends {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.Friends_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Friends_Header>h3 {
    flex: 1;
}

.Friends_Header>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* justify-content: center; */
}

.Friends_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Friends_Header>div>button {
    background-color: none;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.4rem;
}

.Friends_Header>div { 
    position: relative;
}

.Friends_Header>div>span {
    padding: 0 6px;
    background-color: red;
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
}

.Friends_Header>div>button>img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}