.Post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--inputColor);
    border-radius: 1rem;
    gap: 1rem;
}

.PostHeader {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.LeftPart {
    display: flex;
    gap: 1rem;
}


.Avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.NameUser {
    transform: translateY(3px);
}

.NameUser>h6>a {
    text-decoration: none;
    font-size: 15px;
}


.dropdown>button>img {
    /* width: 15px;
    height: 15px; */
    gap: 1rem;
}

.material-icons {
    justify-content: flex-end;
}


.PostReact {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.Like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Share {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostReact>div>img {
    width: 30px;
    height: 30px;
}

.p-button {
    padding: 0 1rem;
}

.carousel-item>a {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.Zoom_In>img {
    position: absolute;
    filter:invert();
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 30px;
    border: 1px solid black;
}