.ImageModal {
    display: flex;
    justify-content: center;
}

.ImageOnModal {
    max-height: 80vh;

}

@media only screen and (max-width: 1070px){
    .ImageOnModal {
        max-width: 100%;
    }
}